# CODEOWNERS
#
# These users are suggested as reviewers for all pull requests.
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @Philibert92 @louisg-rte @marcosmc @marinjl @guiuomsfont-aia
