# Exclude emacs backups and Python bytecode caches:
*~
__pycache__/

#Coverage
.coverage

#Qodo
.qodo

# IntelliJ
/.idea
*.iml

# Tool logs
*.log

# VS Code
.vscode
.vs/

# Exclude package build artifacts:
dist/
*.egg-info/
build/

# Exclude the recommended virtual env:
dycov_venv/

# Exclude windows installer output:
installers/Output

# Exclude default results (for those cases when we run the tool in the src tree, which we shouldn't)
.DyCoV_Results*/
Results/

# Exclude auto-generate docs
docs/manual/source/usage/helps
docs/manual_dev/source/man/_autosummary

# Exclude Analyse Complexity tool output
complexity_report/

# dycov installation folder
dycov/